@model TabloidMVC.Models.ViewModels.PostCreateViewModel

@{
    ViewData["Title"] = $"Post - {Model.Post.Title}";
}

<div class="container pt-5">
    <div class="post">
        <section class="px-3">
            <div class="row justify-content-between">
                <h1 class="text-secondary">@Model.Post.Title</h1>
                <h1 class="text-black-50">@Model.Post.Category.Name</h1>
            </div>
            <div class="row justify-content-between">
                <p class="text-secondary">Author: @Model.Post.UserProfile.DisplayName</p>
                <p class="text-black-50">Published on @Html.DisplayFor(model => model.Post.PublishDateTime)</p>
            </div>
            <div class="row justify-content-between">
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Edit">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a asp-action="Delete" asp-route-id="@Model.Post.Id" class="btn btn-outline-primary mx-1" title="Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                <div>
                    <a class="btn btn-primary btn-med" asp-area="" asp-controller="Comment" asp-action="Index" asp-route-id="@Model.Post.Id">Comments</a>
                    <a class="btn btn-primary btn-med" asp-area="" asp-controller="PostTag" asp-action="Create" asp-route-id="@Model.Post.Id">Tags</a>
                </div>
            </div>
        </section>

        <hr />

        @if (!string.IsNullOrWhiteSpace(Model.Post.ImageLocation))
        {
            <section class="row justify-content-between">
                <div class="w-75">
                    <p class="col-sm-12 mt-5">@Html.DisplayFor(model => model.Post.Content)</p>
                </div>
                <div class="w-25 mt-5">
                    <img class="img-thumbnail" src="@Model.Post.ImageLocation" />
                </div>
            </section>
        }

        <div class="mr-0">
            <table class="table-borderless">
                <tr>Tags:</tr>
                <tr>
                    @foreach (var item in Model.Tags)
                     {
                        <td class="badge-primary list-inline-item m-md-2">@Html.DisplayFor(modelItem => item.Name)</td>
                     }
                </tr>
            </table>
        </div>
    </div>
</div>